# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Logs
logs/
*.log

# Test cache
.pytest_cache/

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Docker files generated
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pyc

# Ignore cache folders recursively
**/__pycache__/